@import "../../@shared/themes/_varibale/_variable.scss";
@import "./@shared/themes/classes.scss";
.container-fluid {
  height: 100vh;
  width: 100vw;
}
.Card {
  backdrop-filter:blur(10px);
  transition: 0.5s;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 75%;
  justify-content: space-between;
  grid-template-rows: 1fr;
  background:#fff;
}
.chat-app .people-list , .chat-app .chat {
  width: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .chat-app .chat-list {
      height: 750px;
      overflow-x: auto
  }
  .chat-app .chat-history {
      height: 600px;
      overflow-x: auto
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .chat-app .chat-list {
      height: 480px;
      overflow-x: auto
  }
  .chat-app .chat-history {
      height: calc(100vh - 350px);
      overflow-x: auto
  }
}