<div class="container">
  <div class="row d-flex justify-content-end">
    <div class="col-md-10 col-lg-8 col-xl-10">
      <div class="card" id="chat2">
        <div
          class="card-header d-flex justify-content-between align-items-center p-3"
        >
          <h5 class="mb-0">Chat</h5>
          <button
            type="button"
            class="btn btn-primary btn-sm"
            data-mdb-ripple-color="dark"
          >
            Let's ChatApp
          </button>
        </div>
        <div
          class="card-body"
          data-mdb-perfect-scrollbar="true"
          style="max-height: 400px"
        >
          <app-loading *ngIf="messageState.isLoading"></app-loading>
          <ng-container *ngFor="let item of messages">
            <div
              [ngClass]="{
                'd-flex flex-row justify-content-start':
                  item.senderId === ownId,
                'd-flex flex-row justify-content-end mb-4 pt-1':
                  item.senderId !== ownId
              }"
            >
              <img
                *ngIf="item.senderId === ownId"
                src={{ownImage}}
                alt="avatar 1"
                style="width: 45px; height: 45px ; borderRadius:50%"
              />
              <div>
                <p
                  [ngClass]="{
                    'small my-message rounded-3 bg-light':
                      item.senderId === ownId,
                    'small p-2 me-3 mb-1 text-white rounded-3 bg-primary':
                      item.senderId !== ownId
                  }"
                >
                  {{ item.messages }}
                </p>
                <p class="small ms-3 mb-3 rounded-3 text-muted">23:58</p>
              </div>
              <img
                *ngIf="item.senderId !== ownId"
                src={{user.image}}
                alt="avatar 1"
                style="width: 45px; height: 45px ; borderRadius:50%"
              />
            </div>
          </ng-container>

          <div class="divider d-flex align-items-center mb-4">
            <p class="text-center mx-3 mb-0" style="color: #a2aab7">Today</p>
          </div>
        </div>
        <div
          class="card-footer text-muted d-flex justify-content-start align-items-center p-3"
        >
          <img
            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
            alt="avatar 3"
            style="width: 40px; height: 100%"
          />
          <input
            type="text"
            class="form-control form-control-lg"
            id="exampleFormControlInput1"
            placeholder="Type message"
          />
          <a class="ms-1 text-muted" href="#!"
            ><i class="fas fa-paperclip"></i
          ></a>
          <a class="ms-3 text-muted" href="#!"><i class="fas fa-smile"></i></a>
          <a class="ms-3" href="#!"><i class="fas fa-paper-plane"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
